body {
  background: #f1f1f1;
  font-size: 12px;
}

#agenda {
    background-color: #fff;
    width: 960px;
    height: 500px;
}

.centrado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bloque {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    height: 19px;
    text-align: center;
}

.cabecera {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    height: 19px;
    text-align: center;
    font-weight: bold;
    background-color: #CCC;
}

.columna_hora {
    border-left: 1px solid #f1f1f1;
    float: left;
    width: 38px;
    height: 100%;
    text-align: center;
    background-color: #CCC;
}

.columna_dia {
    border-left: 1px solid #f1f1f1;
    float:left;
    width: 125px;
    height: 100%;
    text-align: center;
}